/* General
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 20px;
  padding-bottom: 40px;
  color: #333;
  /*padding-top: 50px;*/
}
.container .text-muted { margin: 20px 0; }
.page-header {
  padding-bottom: 9px;
  /*margin: 40px 0 20px;*/
  border-bottom: 1px solid #eee;
}
/* Panels
-------------------------------------------------- */
.panel-custom {
  border: 1px solid rgba(0,0,0,0.075);
  border-bottom-color: rgba(0,0,0,0.125);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 5px 10px rgba(0,0,0,0.05);
}
.panel-purple > .panel-heading {
    background: #814EFA;
    border-color: #814EFA;
}
/*
@media (min-width: 1200px) {
  .panel { height: 350px; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .panel { height: 300px; }
}
@media (max-width: 991px) {  }
*/

/* Navbar
-------------------------------------------------- */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5;
}
.navbar-default .navbar-brand {
  color: #333333;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #337ab7;
}
.navbar-default .navbar-text {
  color: #333333;
}
.navbar-default .navbar-nav > li > a {
  color: #333333;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #337ab7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #337ab7;
  background-color: #f5f5f5;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #337ab7;
  background-color: #f5f5f5;
}
.navbar-default .navbar-toggle {
  border-color: #f5f5f5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f5f5f5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #333333;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #333333;
}
.navbar-default .navbar-link {
  color: #333333;
}
.navbar-default .navbar-link:hover {
  color: #337ab7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333333;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #337ab7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #337ab7;
    background-color: #f5f5f5;
  }
}
/*
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  position: fixed;
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0,0,0,0.075);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-size: 16px;
}
.navbar-default .navbar-brand {
  color: #444;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #4078c0;
}
.navbar-default .navbar-text {
  color: #444;
}
.navbar-default .navbar-nav > li > a {
  color: #444;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #4078c0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #4078c0;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #4078c0;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #444;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #444;
}
.navbar-default .navbar-link {
  color: #444;
}
.navbar-default .navbar-link:hover {
  color: #4078c0;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #444;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #4078c0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #4078c0;
    background-color: #ffffff;
  }
}*/

/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}